body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
/ align-items: center;
  min-height: 100vh;
  padding: 20px;
  }

.weather-container {
  width: 500px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  }


.current-weather {
  padding: 20px;
  border-bottom: 1px solid #eeeeee;
  }

.current-weather h1 {
  font-size: 28px;
  font-weight: 600;
  margin: 0;
  }

.current-weather .date {
  font-size: 16px;
  color: #777;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 15px;
  }


.current-details {
  display: flex;
  flex-direction: column;
  }

.current-temp-icon {
  display: flex;
  align-items: center;
  gap: 15px;
  }

.current-temp-icon .temp {
  font-size: 50px;
  font-weight: 300;
  }

.current-temp-icon .temp sup {
  font-size: 24px;
  vertical-align: top;
  }

.current-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
  color: #777;
  font-weight: 500;
  }

.current-details p {
  font-size: 16px;
  color: #777;
  font-weight: 500;
  margin-bottom: 5px;
  }

/* 2. Секція прогнозу на тиждень */
.week-forecast {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  }

/* ✨ FLEXBOX #4: Кожен рядок прогнозу */
.forecast-day {
  display: flex; /* Це ключовий момент! Всі елементи стають в ряд */
  justify-content: space-around; /* Розподіляємо їх по ширині */
  align-items: center; /* Вирівнюємо по центру по вертикалі */

  padding: 15px 0;
  border-bottom: 1px solid #eeeeee;
  }

.forecast-day:last-child {
  border-bottom: none;
  }

.forecast-day .day-name {
  font-size: 17px;
  font-weight: 500;
  flex-basis: 100px;
  }

.forecast-temps {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  flex-basis: 60px; /* Фіксована ширина */
  }

.forecast-temps .low {
  color: #888;
  margin-top: 8px;
  }

.forecast-pollen {
  font-size: 15px;
  color: #555;
  flex-basis: 80px; /* Фіксована ширина */
  text-align: right;
  }

.weather-icon-overcast {
  content: url("./icons/overcast.png");
  width: 80px;
  height: 80px;
  }

.weather-icon-small {
  width: 50px;
  height: 50px;
  flex-basis: 50px; /* Фіксована ширина для іконки */
  text-align: center;
  }

.weather-icon-thunderstorm-rain {
  content: url("./icons/thunderstorm-rain.png");
  }

.weather-icon-sunny {
  content: url("./icons/sunny.png");
  }

.weather-icon-cloudwithsun {
  content: url("./icons/cloudwithsun.png");
  }

.weather-icon-rain {
  content: url("./icons/rain.png");
  }
