div {
  box-sizing: border-box;
  width: 1140px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  }

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
  }

li {
  margin: 10px;
  float: left;
  }

header {
  margin-bottom: 80px;
  overflow: hidden;
  }

li a {
  display: inline-block;
  padding: 10px;
  background: rgb(255, 89, 0);
  text-decoration: none;
  }

ul.block-menu li {
  width: 250px;
  height: 300px;
  border: 1px solid green;

  }


.site-logo {
  float: left;
  width: 70px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  }

.block-image {
  width: 100%;
  height: 200px;
  margin: 5px 0;
  z-index: -1;
  position: relative;
  }


.block-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  }

.block-menu li {
  width: 250px;
  height: 300px;
  margin: 20px;
  float: left;
  box-sizing: border-box;
  }


.block-menu li:nth-child(3n+1) {
  margin-left: 0;
  margin-right: 40px;
  }

.block-menu li:nth-child(3n+2) {
  margin-left: 20px;
  margin-right: 20px;
  }

.block-menu li:nth-child(3n+3) {
  margin-left: 40px;
  margin-right: 0;
  }

.block-menu li:nth-child(n+4) {
  margin-top: 40px;
  }

.headliner {
  font-weight: bold;
  text-align: left;
  margin: 0 0 10px 10px;
  }

.left-sided-shadow {
  box-shadow: -5px -5px 5px 3px green;
  }

.all-sided-shadow {
  box-shadow: 0 0 10px 10px green;
  }

.right-sided-shadow {
  box-shadow: 5px 5px 5px 1px rgba(0, 128, 0, 0.5);
  }

.semi-clear-shadow {
  box-shadow: 0 0 30px 5px green;
  }

.multicolour-shadow {
  box-shadow: inset 5px 0 red, inset 0 5px green, inset -5px 0 blue, inset 0 -5px darkorange;
  }

.twocolor-shadow {
  box-shadow: 0 -12px 0 -7px orange, 0 12px 0 -7px darkgreen;
  }


.block-menu::after {
  content: "";
  display: table;
  clear: both;
  }
